* {
    margin: 0;
    padding: 0;
}

.scroll-box {
    
    height: 50px;  
    overflow: hidden;
    color: #fff;
    background-color: #5af;
    padding-top: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
}

.scroll-box ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

.scroll-box ul li {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    text-align: left;
}
