 

		 .swiper_wrap{
			position: relative;
            /* z-index: 199;
            top: 0;
            left: 0;
            right: 0; */
			width: 695px;
			height: 30px;
			margin: 0 auto;
			overflow: hidden; 
            color: #fff;
            /* background: #8A62F0; */
		}
		 .font_inner{
			position: relative;
			top: 0;
			left: 0;
			width: 695px;
			float: right;
		  	color: #fff;
		 	font-size: 14px;
		 	margin-top: 1px;
		}
		 .font_inner li{
			line-height: 30px;
			padding-left: 24px;
		  	color: #fff;

		}
        .font_inner li a{
			line-height: 30px;
			padding-left: 24px;
		  	color: #fff;

		}
		 
		 